#container {
    display: grid;
    grid-template-areas:
        'a b c'
        'd d d';
    grid-template-rows: calc(100dvh - 2em) 2em;
    grid-template-columns: 22% 56% 22%;
    width: 100dvw;
    height: 10dvh;
}

.left {
    grid-area: a;
}

.middle {
    grid-area: b;
}

.right {
    grid-area: c;
}

.bottom {
    grid-area: d;
}
