#container {
    display: grid;
    grid-template-areas:
        'e a a d'
        'e b c d'
        'f f f f';
    grid-template-rows: 2.3em calc(100dvh - 3.8em) 1.5em;
    grid-template-columns: 2.8em 22% calc(56% - 2.8em) 22%;
    width: 100dvw;
    height: 10dvh;
}

.bottom {
    grid-area: f;
}

.sidebar {
    grid-area: e;
}

.left {
    grid-area: b;
}

.middle {
    grid-area: c;
}

.right {
    grid-area: d;
}

.top {
    grid-area: a;
}
