#container {
    display: grid;
    grid-template-areas:
        'a a a'
        'b c d';
    grid-template-rows: 2.2em calc(100dvh - 2.2em);
    grid-template-columns: 22% 56% 22%;
    width: 100dvw;
    height: 10dvh;
}

.left {
    grid-area: b;
}

.middle {
    grid-area: c;
}

.right {
    grid-area: d;
}

.top {
    grid-area: a;
}
