* {
    font-family: Inter, sans-serif;
    color: white;
}

body {
    background: #111;
}

#data-res {
    font-family: monospace;
}

@import 'tailwindcss/preflight.css';
@import 'tailwindcss/utilities.css';
@import 'tailwindcss/theme.css';

a {
    color: #aaf;
    transition: color 150ms ease-in-out;
    &:hover {
        color: #88f;
    }
}
